<footer class="footer">
    <div class="container-fluid">
        <div class="copyright ml-auto">
            @DateTime.Now.Year | Recep Demir, &copy; Tüm Hakları Sakldır.
        </div>
    </div>
</footer>